<div>
    <form (ngSubmit)="onSubmit(form.value)" #form="ngForm">
    <div class="form-group">
        <label for="userName">User name:</label>
        <input class="form-control" type="text" name="userName" required ngModel>

    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-control" type="string" name="password" required ngModel>

    </div>
    <button type="submit" class="btn btn-default" >Submit</button>
    </form>
    {{message}}{{redirectUrl}}
</div>